<div class="row">
  <div class="col-sm-12">
  <h4>About the Website:</h4>
  <p>SightSeeDC's goal is to help you see the city - but only those aspects that actually interest you. By augmenting a basic collection of sights with user-generated suggestions and reviews, SightSeeDC gives you the information you need to create a customized sightseeing list for your visit.</p><br>
  <h4>About the Creator:</h4>
  <p>Originally from the DC area, Antonio grew up visiting the sights of DC. The National Museum of Natural History, with the gigantic African Elephant in the atrium, is his favorite destination (but the Air and Space Museum is a close second).</p><br>

  <h4 align="center"><em>See the city. See the sights. SightSeeDC.</em></h4>

  </div> <!-- col-sm-12 -->
</div><!-- row -->